.desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: relative;
    width: 1440px;
    height: 3503px;

/* Base/White */

    background: #FFFFFF;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 1440px;
    height: 80px;

    /* Base/White */

    background: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

header.cabecalho-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 1200px;
    height: 80px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;

    width: 1000px;
    height: 50px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button-base {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 148px;
    height: 26.99px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo-menu-superior {
    width: 27px;
    height: 26.99px;


/* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.texto-logo-menu {
    width: 113px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */


    color: #3A404E;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10em;
    gap: 40px;

    width: 362px;
    height: 32px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

    height: 32px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button-base-navegacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.texto-navegacao {
    height: 24px;

    /* Text md/Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Gray/500 */

    color: #667085;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo-two {
    width: 50px;
    height: 32px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.navegacao-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;

    width: 207px;
    height: 44px;


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.button-action {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 83px;
    height: 44px;

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button-base-action {
    box-sizing: border-box;

/* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;

    width: 112px;
    height: 44px;

    /* Shadow/xs */

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.texto-cadastrar {
    width: 76px;
    height: 24px;

    /* Text md/Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Base/White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.texto-action {
    width: 47px;
    height: 24px;

    /* Text md/Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Gray/500 */

    color: #667085;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button-cadastrar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 112px;
    height: 44px;

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}

.button-base-cadastrar {
    box-sizing: border-box;

/* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;

    width: 112px;
    height: 44px;

    background: #8E2424;
    border: 1px solid #8E2424;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.texto-cadastrar {
    width: 76px;
    height: 24px;

    /* Text md/Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Base/White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}